.ancor-pane{
    -fx-background-color : #9EDDFF;
}

.button{
   -fx-border-radius-color:#04364A;
   -fx-background-radius: 45px 45px 45px 45px;
   -fx-background-color: #04364A;
}

.button:hover{
    -fx-background-color: #176B87;
}

#loginBtn:hover{
    -fx-background-color: #A0C49D;
    -fx-text-fill: "white";
}

.label{
    -fx-alignment: center;
}

#greetings-pane{
    -fx-border-radius-color:#6499E9;
    -fx-background-radius: 45px 45px 45px 45px;
    -fx-background-color: #6499E9;
}

#statcards{
    -fx-border-radius-color:#6499E9;
    -fx-background-radius: 45px 45px 45px 45px;
    -fx-background-color: #6499E9;
}
